
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a:0;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif
}
body{
    background-color: black;
    color: white;
}

/* left side  */
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width:75vw;
}
.home{
    padding: 10px;
}
.home ul li{
    display: flex;
    gap: 15px;
    list-style: none;
    width: 14px;
    padding-top: 14px;
    font-weight: bold;
}
.box1{
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 12px;
}
.box1 img{
    width: 25px;
}

.songList{
    height: 500px;
    overflow-y: scroll;
    margin: 45px 0px;
    margin-top: 0px;
}
.songList ul{
    padding: 0px 12px;
}
.songList ul li{
    border: 1px solid rgb(71, 71, 71);
    border-radius: 4px;
    list-style-type: decimal;
    display: flex;
    gap: 30px;
    cursor: pointer;
    margin: 15px 0px;
    padding: 15px 15px;
    font-size: 14px;
}
@media (width <900px ){
    .unorderList li >img {
        display: none;
    }
}
.playBtn{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.playBtn img{
    height:35px 
}
@media (width <1150px ){
    .playBtn{
        display: none;
    }
}
.playnow{
    display: flex;
}

.library{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer{
    display: flex;
    font-size: 9px;
    color: gray;
    gap: 6px;
    flex-wrap: wrap;
}
.footer a{
    color: gray;
    text-decoration: none;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.close{
    display: none;
}



/* right side  */
.right{
    margin: 16px 0px;
    position: relative;
    margin-right: 5px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 38, 38);
}

.header > *{
    padding:20px;
}


.buttons >*{
    margin: 0px 10px;
}
.signBtn{
    background-color: rgb(38, 38, 38);
    color: rgb(194, 190, 190);
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
}
.signBtn:hover{
    font-size: 17px;
    color: white;
    font-weight: bold;
    
}
.loginBtn{
    background-color: white;
    color: black;
    border-radius: 6px;
    padding: 8px;
    width: 80px;
    cursor: pointer;
}
.loginBtn:hover{
    font-weight: bold;
    width: 82px;
}


.spotify-playlist{
    padding: 16px;
}

.cardcontainer{
    margin: 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 82vh;
    overflow-y: auto;
    justify-content: center;
}
.card{
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #353535;
    position: relative;
    transition: background-color 2s;
}
.card:hover{
    background-color: black;
    cursor: pointer;
    --a:1;
}
.plays{
    position: absolute;
    top: 109px;
    right: 19px;
    opacity: var(--a);
    transition: all 1s ease-out;
}
.plays svg{
    width: 30px;
}
.card img{
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.card h3{
    padding-block: 8px;
}
.card p {
    font-size: 14px;
    padding-bottom: 8px;
}


/* playbar */
.playbar{
    position: fixed;
    left: 28.6vw;
    bottom: 17px;
    background-color: rgb(13, 122, 13);
    width: 65vw;
    padding: 12px;
    transition: background-color 2s;
    border-radius: 10px;
    min-height: 35px;
}
.playbar:hover{
    background-color: rgb(60, 201, 72);
}
.songButtons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.songButtons img{
    cursor: pointer;
}
.seekbar{
    height:4px;
    width: 64vw;
    background-color: rgb(14, 14, 14);
    border-radius: 10px;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom: 8px;
    left: 0%;
    transition: left 0.5s;
}
.abovebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.songInfo , .songTime {
    color: black;
}
.songInfo{
    width: 150px;
}
.timevol{
    display: flex;
    align-items: center;
    gap:10px;
}
.volume{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}
.logoReal{
    width: 40px;
}

@media (max-width : 1000px) {
    .left{
        position: absolute;
        left: -100%;
        transition: all 2s;
        z-index: 1;
        width: 233px;
        background-color: black;
    }
    .right{
        width: 100vw;
    }
    .playbar{
        width: 96%;
        padding: 1.5vw;
        left: 0;
    }
    .hamburger{
        display:inline ;
    }
    .close{
        display: inline;
        position: absolute;
        right: 18px;
        top: 18px;
    }
    .seekbar{
        width: 96%;
    }
    .timevol{
        gap: 10px;
    }
    .volume img{
        /* height: 20px; */
    }
    .volume input{
        width: 80px;
        height: 5px;
    }
}
@media(width < 750px){
    .timevol{
        flex-direction: column;
    }
    .volume{
        flex-direction: row;
        gap: 5px;
    }
}
@media (width < 435px){
    .cardcontainer{
        justify-content: center;
        max-height: 60vh;
    }
    .nav{
        padding-inline: 5px;
    }
    .buttons{
        padding-inline: 5px;
    }
    .card{
        width: 100%;
    }
    .card img{
        width: 100%;
        height: auto;
    }
    
    .header{
        position: sticky;
        top: 0px;
    }
    .songInfo{
        width: 86px;
    }
    .playbar{height:60px;
    font-size: 14px;}
    .playbar img{
        width: 20px;
    }
}